* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 ;
	padding: 0;
	border: 0;
	background: #000033;
	font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*	----------
	 CLEARFIX
	----------  */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

/*  --------------
		HEADER
	-------------  */

.header {
	color: #fff;
  width: 80%;
  margin: 0 auto 40px;
  max-width: 1120px;
  border-bottom: 1px solid #53a7ea;
  margin-top: 20px;
  padding-bottom: 20px;
}

.brand {
  float: left;
  width: auto;
}

.brand a {
  display: block;
}

.brand img {
  display: block;
  width: 200px;
}

.search {
  float: right;
  width: auto;
  position: relative;
  margin-top: 40px;
}

.search input {
  display: block;
  background: #000033;
  border: 0;
  font-size: 1em;
  line-height: 1.5;
  padding:  10px;
  border-radius: 2px;
  width: 15em;
  padding-left: 55px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.search:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/search.png');
  position: absolute;
  left: 10px;
  top: 7px;
}

.search input:hover,
.search input:focus,
.logo-finder input:active {
  outline:none;
  background: #fff;
}

/*  ------------
		MAIN
	------------ */

.banner {
	width: 80%;
  margin: 0 auto 40px;
  max-width: 1120px;
  background: #000;
  border-radius: 2px;
  padding: 10px;
  color: #fff;
  position: relative;
}

.banner-image {
  float: left;
  width: 62%;
}

.banner-image img {
  display: block;
  width: 100%;
}

.banner-info {
  float: right;
  width: 33%;
  margin-top: 40px;
  height: 100%;
}

.banner-info h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #fff;
}

.banner-info p {
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 2em;
}

.banner-info .button {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  background: #000;
  border: 1px solid white;
  padding: .5em 1em;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;

  -webkit-transition: background 0.6s ease;
  -moz-transition: background 0.6s ease;
  -o-transition: background 0.6s ease;
  -ms-transition: background 0.6s ease;
  transition: background 0.6s ease;
}

.banner-info .button:hover {
  background: #000033;
}

.banner-destacado {
	width: 150px;
	padding: 6px 25px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: #000;
	background-color: #cccc00;
  position: absolute;
  top: 15px;
  right: 0;
}

/*	---------------
		SUBMENU
	---------------  */

.submenu {
	width: 60%;
	max-width: 920px;
	margin: 0 auto 30px;
}

.submenu li{
	float: left;
  width: 23%;
  font-size: 16px;
  margin-right: 2.66%;
}

.submenu li:last-child {
  margin-right: 0;
}

.submenu a {
  display: block;
  background: #53a7ea;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  padding: 20px 10px;
  text-align: center;
  border-radius: 3px;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: background 0.5s linear;
}

.submenu a:link,
.submenu a:hover {
	background: #345e88;
}

.pagina-todos .submenu li:nth-child(1) a {
  background: #345e88;
}

.pagina-principales .submenu li:nth-child(2) a {
  background: #345e88;
}

.pagina-independientes .submenu li:nth-child(3) a {
  background: #345e88;
}

/*  ------------------
		THUMBNAILS
	------------------  */

.thumbnails {
  width: 80%;
  margin: 0 auto 40px;
  max-width: 1120px;
}

.thumb {
	position: relative;
  float: left;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 2px;
}

.thumb:nth-child(3n) {
  margin-right: 0;
}

.thumb a {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
  border-radius: 2px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.thumb:hover img{
  -webkit-filter: blur(1px);
}

.thumb .more-info {
	visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .60);
  text-align: center;
  border: 3px solid #53a7ea;
  border-radius: 2px;
  opacity: 0;

  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.thumb .more-info h2{
	position: absolute;
	display: block;
	width: 100%;
	margin: 25% auto;
	color: #53a7ea;
	font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.thumb .more-info .action {
  display: inline-block;
  background: #53a7ea;
  color: #fff;
  padding:  10px;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 85%;

	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.thumb:hover .more-info {
	visibility: visible;
	opacity: 1;
}

.thumb:hover .action{
	  margin-top: 70%;

}

.thumb .modal img {
	display: inline;
	width: 28px;
  -webkit-filter: blur(0px);
}

/* 	------------
		MODAL
	------------ */

.modal {
  opacity: 0;
  position: fixed;
  padding-top: 50px;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 0;
  background: none;
  -webkit-transition: opacity 1s .1s ease;
  z-index: 999;
  pointer-events:none;
}

.modal .content {
  position: absolute;
  width:  60%;
  height: auto;
  left:  50%;
  top:  40px;
  background: #fff;
  margin-left: -30%;
  min-height: 300px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.modal .content h1{
	color: black;
	font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.modal .content img{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	position: relative;
	width: 100%;
}

.modal:target {
	pointer-events: auto;
	opacity: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .8);
}

.modal-close {
  color: #aaa;
  font-size: 80%;
  line-height: 55px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 42%;
  text-decoration: none;
}

.modal .content .modal-header {
	position: relative;
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
}

.modal .content .modal-info {
	padding-left: 5%;
	width: 70%;
	float: left;
	color: #000;
	font-weight: 100;
}

.modal .content .modal-aside {
	width: 10%;
	background: #53a7ea;
	margin-right: 5%;
	margin-top: 20px;
	padding: 8px;
	float: right;
	border-radius: 2px;
	text-align: center;

  -webkit-transition: all 1s .1s ease;
}

.modal .content .modal-aside a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.modal .content .modal-aside:hover {
	background: #345e88;
}

/*	----------
			FOOTER
		----------  */

footer {
	background: #000;
}

footer .footer {
	display: block;
	width: 80%;
	max-width: 1120px;
	color:#fff;
	margin: 0 auto;
	padding: 15px 0;
	border-top: 1px solid #ccccff;
}

footer .inicio {
	float: left;

}

footer .inicio a {
	text-align: center;
	width: 150px;
	display: inline-block;
	padding: 15px;
	color:#fff;
	text-decoration: none;
  background:#000;
  transition:all 0.3s ease;
}

footer .inicio a:hover {
	color: #53a7ea;
}

footer .logo {
	width: 250px;
	background: #53a7ea;
	float: right;
	color:#000;
	padding: 15px;
	font-weight: 200;
	border-radius: 0 30px 0 30px;
	font-size: 1.4em;
	text-align: center;
}
