* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 ;
	padding: 0;
	border: 0;
	background: #000033;
	font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*	----------
	 CLEARFIX
	----------  */

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

/*  --------------
		HEADER
	-------------  */

.header {
	color: #fff;
  width: 80%;
  margin: 0 auto 40px;
  max-width: 1120px;
  border-bottom: 1px solid #53a7ea;
  margin-top: 20px;
  padding-bottom: 20px;
}

.brand {
  float: left;
  width: auto;
}

.brand a {
  display: block;
}

.brand img {
  display: block;
  width: 200px;
}

.search {
  float: right;
  width: auto;
  position: relative;
  margin-top: 40px;
}

.search input {
  display: block;
  background: #000033;
  border: 0;
  font-size: 1em;
  line-height: 1.5;
  padding:  10px;
  border-radius: 2px;
  width: 20em;
  padding-left: 44px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.search:before {
  content: '';
  display: block;
  width: 27px;
  height: 27px;
  background-image: url('../img/close.png');
  position: absolute;
  left: 10px;
  top: 8px;
}

.search input:hover,
.search input:focus,
.logo-finder input:active {
    outline:none;
    background: #fff;
}

/*  ------------
		MAIN
	------------ */

.banner {
	width: 80%;
  margin: 0 auto 40px;
  max-width: 1120px;
  background: #000;
  border-radius: 2px;
  padding: 10px;
  color: #fff;
  position: relative;
}

.banner-image {
  float: left;
  width: 62%;
}

.banner-image img {
  display: block;
  width: 100%;
}

.banner-info {
  float: right;
  width: 33%;
  margin-top: 40px;
  height: 100%;
}

.banner-info h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #fff;
}

.banner-info p {
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 2em;
}

.banner-info .button {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  background: #000;
  border: 1px solid white;
  padding: .5em 1em;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;

  -webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease;
    -o-transition: background 0.6s ease;
    -ms-transition: background 0.6s ease;
    transition: background 0.6s ease;
}

.banner-info .button:hover {
  background: #000033;
}

.banner-destacado {
	width: 150px;
	padding: 6px 25px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: #000;
	background-color: #cccc00;
  position: absolute;
  top: 15px;
  right: 0;
}

/*	---------------
		SUBMENU
	---------------  */

.submenu {
	width: 60%;
	margin: 0 auto 30px;
}

.submenu li{
	float: left;
  width: 23%;
  font-size: 16px;
  margin-right: 2.66%;
}

.submenu li:last-child {
  margin-right: 0;
}

.submenu a {
  display: block;
  background: #53a7ea;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  padding: 20px 10px;
  text-align: center;
  border-radius: 3px;
  line-height: 1;
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.5s linear;
}

.submenu a:visited,
.submenu a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.5s linear;
}

/*  ------------------
		THUMBNAILS
	------------------  */

.thumbnails {
  width: 80%;
  margin: 0 auto 40px;
  max-width: 1120px;
}

.thumb {
	position: relative;
  float: left;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 2px;
}

.thumb:nth-child(3n) {
  margin-right: 0;
}

.thumb a {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
  border-radius: 2px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.thumb:hover img{
  -webkit-filter: blur(1px);
}

.thumb .more-info {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .75);
  text-align: center;
  border: 3px solid red;
  border-radius: 2px;
}

.thumb .more-info .action {
  display: inline-block;
  background: red;
  color: #fff;
  padding:  10px;
  border-radius: 2px;
  margin-top: 66%;
}

.thumb:hover .more-info {
  display: block;
}

/* 	------------
		MODAL
	------------ */

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
  -webkit-transition: opacity 1s .1s ease;
  z-index: 9999;
}

.modal .content {
  position: absolute;
  width:  60%;
  height: auto;
  left:  50%;
  top:  40px;
  background: #fff;
  margin-left: -30%;
  min-height: 300px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.thumb a:focus + .modal {
  visibility: visible;
  opacity: 1;
}


/*  --------------
		FOOTER
	--------------  */

footer {
	background: #000;
	color:#fff;
	padding: 15px 0;
	border-top: 1px solid #ccccff;

}

footer .nav {
	float: left;
	margin-left: 11%;

}

footer .nav a {
	text-align: center;
	width: 150px;
	display: inline-block;
	padding: 15px;
	color:#fff;
	text-decoration: none;
    background:#000;
    transition:all 0.3s ease;
}

footer .nav a:hover {
	color: #53a7ea;
}

footer .logo {
	width: 350px;
	float: right;
	margin-right: 11%;
	background: #53a7ea;
	color:#000;
	padding: 15px;
	font-weight: 200;
	border-radius: 0 30px 0 30px;
	font-size: 1.4em;
	text-align: center;
}
/* -------------
	MEDIA QUERY
   ------------- */

/* @media only screen and (max-width: 1526px) {

	.submenu{
		width: 80%;
    }
    .main .thumb-pr{
    	width: 80%;
    }

	.main .thumb-pr h1 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 1.4em;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #fff;
		margin-top: 24%;
	}

	.main .thumb-pr p {
		font-size: 13px;
		font-weight: 100;
	}

    .thumbnails {
		width: 80%;
		margin: 10px auto;
	}
}

@media only screen and (max-width: 1120px) {

	.submenu{
		margin: auto;
		width: 560px;
    }
    .main .thumb-pr{
    	width: 100%;
    }
	.main .thumb-pr h1 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 1.2em;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #fff;
		margin-top: 24%;
	}

	.main .thumb-pr p {
		font-size: 12px;
		font-weight: 100;
	}

	.main .thumb-pr img {

		margin-top: 20px;
	}

    .thumbnails {
		width: 100%;
		margin: 10px auto;
	}

	.thumb {
		margin: 0 auto;
	}
}


@media only screen and (max-width: 780px) {

	.destacado{
		margin-top:0;
	}

	.submenu {
		width:100%;
		margin-left: -25px;
		padding: 0px;
	}

	.submenu nav {
		width: 100%;
		margin: -0 auto;
		display: inline-block;
	}

	.submenu ul {
		margin: 0;
	}

	.submenu nav a {

		color: #000;
		text-transform: uppercase;
		letter-spacing: 2.2px;
		margin: 5px 5px;
		background: #53a7ea;
		padding: 26px 10px;
		display: block;
		width: 100%;
		text-align: center;
		border-radius: 3px;
		text-decoration: none;
	}

	.thumbnails {
		width: 100%;
		margin: 60px auto;
	}

	.thumb {
		margin: 0 auto;
	}

	.thumb img {
		float: left;
		width: 48.6666%;
		margin: 0.666% 0.666%;
		border-radius: 2px;
	}

	footer .logo {
		width: 200px;
		float: right;
		margin-right: 11%;
		background: #53a7ea;
		color:#000;
		padding: 10px;
		font-weight: 200;
		border-radius: 0 30px 0 30px;
		font-size: 1.2em;
		text-align: center;
  }

}

@media only screen and (max-width: 568px) {

	.thumb img {
		float: ;
		width: 90%;
		margin: 0.6666% 5%;
		border-radius: 2px;
	}

	.button {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0% 0%;
		background: #000;
		border: 1px solid white;
		padding: 3%;
		display: inline-block;
		width: 100px;
		text-align: center;
		border-radius: 2px;
		text-decoration: none;
	}

	.logo-finder {
		position: relative;
		height: 220px;
		width: 100%;
		color: #fff;
		background: #000033;
		padding: 10px;
	}

	.logo-png {
		width: 200px;
		margin:0 auto;
	}

	.logo-finder a img {
		position: relative;
		margin: 0 auto;
		width: 200px;
		margin-left: 0%;
		float: center ;
	}

	.main .thumb-pr h1 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 1.2em;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #fff;
		margin-top: 24%;
	}

	.main .thumb-pr .info-pr {
		text-align: center;
	    margin-top:-100px;
	    width: 100%;
	    padding-bottom: 20px;
	}

	.destacado-mobile {
		visibility: visible;
		width: 80%;
		padding: 6px ;
		margin: 0 auto;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		color: #000;
		background-color: #cccc00;
	}

	.main .thumb-pr img {
		width: 100%;
		margin-top: 20px;
	}

	.search input#search{
		visibility: hidden;
		position: absolute;
		width: 200px;
		height: 40px;
		top: 150px;
		margin: auto;
		background: #000033;
		border: none;
		text-align: center;
		font-size: 1em;
		padding-left: 3%;
		margin-top: 25px;
		margin-bottom: 20px;
		border-radius: 2px;
  }

	.border-bottom {
		width: 100%;
		left:5%;
		position: absolute;
		border-bottom: 1px solid #53a7ea;
	}
} */
